@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --Pale-blue : hsl(225, 100%, 94%) ;
    --Bright-blue : hsl(245, 75%, 52%) ;
    --Very-pale-blue : hsl(225, 100%, 98%) ;
    --Desaturated-blue : hsl(224, 23%, 55%) ;
    --Dark-blue : hsl(223, 47%, 23%) ;
    --font-family-Fraunces: 'Fraunces', serif;
    --font-family-Red: 'Red Hat Display', sans-serif;
}
body {
    font-size: 16px;
    font-family: var(--font-family-Red);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: var(--Pale-blue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover ;
     
}
.component {
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    width: 370px;
    box-shadow: 0 20px 30px hsl(224, 23%, 55% , 25%) ;
}
.component .image {
    width: 100%;
}
.component .info {
    text-align: center;
    padding:25px ;
}
.component .info h1 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 17px;
  color: var(--Dark-blue);
}
.component .info p {
    text-align: center;
    line-height: 1.6;
    color: var(--Desaturated-blue);
    margin-bottom: 25px;
}
.component .info .plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    margin-bottom: 25px;
} 
.component .info .plan a {
    color: var(--Bright-blue);
    font-weight: 700;
    font-size: 18px;
    margin-right: 5px;
}
.component .info .plan .left-content {
    display: flex;
    align-items: center;

}
.component .info .plan .left-content img {
    margin-right: 15px;
}

.component .info .plan .left-content .text-plan span {
    display: block;
}
.component .info .plan .left-content .text-plan span:first-child {
    font-weight: 900;
    color: var(--Dark-blue);
    margin-bottom: 5px;
}
.component .info .plan .left-content .text-plan span:last-child {
    font-size: 15px;
    color: var(--Desaturated-blue);
}
.payment-btn button {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 19px;
    color: white;
    position: relative;
}
.payment-btn button:first-child {
    background-color: var(--Bright-blue);
    box-shadow:  0 15px 35px hsl(245, 75%, 52% , 30%);
    z-index: 2;
    margin-bottom: 10px;
}
.payment-btn button:last-child {
    background-color: white;
    color: var(--Desaturated-blue);
    font-weight: 700;
    z-index: 1;
    font-size: 20px;
}